<!DOCTYPE html>
<html>
  <head>
    <title>NomadCounter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-background flex flex-col h-screen justify-between">
    <%= render partial: 'shared/header' %>

    <div class="grid grid-cols-6 gap-4 my-8 mb-auto">
      <%= render partial: 'shared/navigation', class: 'col-span-2' %>

      <main class="col-span-4 m-2">
        <%= yield %>
      </main>
    </div>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
